*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #111;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

ul, ol {
  list-style: none;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: inherit;
}

a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

strong, small {
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea {
  width: 100%;
}

textarea {
  resize: vertical;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=url],
textarea {
  border: none;
  outline: none;
  background: none;
}

input:focus-visible,
textarea:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../assets/fonts/NotoSans-VariableFont_wdth,wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url(../assets/fonts/NotoSans-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../assets/fonts/icomoon.ttf") format("truetype"), url("../assets/fonts/icomoon.woff") format("woff"), url("../assets/fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.burger-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 42px;
  width: 42px;
  margin-right: auto;
  background-color: #f2f2f2;
  border-radius: 0 5px 5px 0;
}
.burger-container__icon {
  position: relative;
  height: 8px;
  width: 42px;
  background-color: #111;
  border-radius: 0 5px 5px 0;
}
.burger-container__icon::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 42px;
  background-color: #111;
  border-radius: 0 5px 5px 0;
  top: -12px;
}
.burger-container__icon::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 42px;
  background-color: #111;
  border-radius: 0 5px 5px 0;
  top: 12px;
}
@media (min-width: 576px) {
  .burger-container {
    display: none;
  }
}

.project-cards__container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2rem;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .project-cards__container {
    grid-template-rows: repeat(6, 1fr);
  }
}
.project-cards__link {
  display: block;
  width: 80%;
  height: 240px;
  padding: 10px;
  border: 2px solid #d7f4b4;
  border-radius: 0.5rem;
  box-shadow: inset 0px 3px 6px 0px #111;
}
.project-cards__card {
  padding: 10px;
}
.project-cards__card--1 {
  background-image: url("../assets/images/project_image_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  height: 70%;
}
.project-cards__card--2 {
  background-image: url("../assets/images/project_image_2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  height: 70%;
}
.project-cards__card--3 {
  background-image: url("../assets/images/project_image_3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  height: 70%;
}
.project-cards__card--4 {
  background-image: url("../assets/images/project_image_4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  height: 70%;
}
.project-cards__card--5 {
  background-image: url("../assets/images/project_image_5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  height: 70%;
}
.project-cards__card--6 {
  background-image: url("../assets/images/project_image_6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  height: 70%;
}
.project-cards__title {
  font-size: 1.625rem;
  font-weight: 600;
  text-align: left;
  padding-inline-start: 5px;
  margin: 5px 0 0;
}
.project-cards__button {
  position: relative;
  padding-inline-start: 5px;
}
.project-cards__button::after {
  content: "\ea3c";
  font-family: "icomoon" !important;
  position: absolute;
  top: 0px;
  left: 100px;
}
.project-cards__view-btn-container {
  display: block;
  position: relative;
  width: fit-content;
  font-size: 1.625rem;
  font-weight: 600;
}
.project-cards__view-btn-container::before {
  content: "\ea3c";
  font-family: "icomoon" !important;
  position: absolute;
  right: -29px;
  top: 1px;
}

.drop-cap {
  display: none;
  width: fit-content;
  margin: 0 auto;
}
.drop-cap__text {
  display: inline-block;
  color: #6cb01a;
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
}
@media (min-width: 576px) {
  .drop-cap {
    display: block;
  }
}
@media (min-width: 1200px) {
  .drop-cap {
    margin: 0;
  }
}

.contact {
  position: relative;
}
.contact__title {
  margin-top: 15px;
  font-size: 2.25rem;
  font-weight: 900;
}
.contact__form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0 5px 50px;
}
.contact__field {
  width: 100%;
}
.contact__textarea {
  width: 100%;
  padding: 5px 15px;
  background-color: #ddd;
  border: 1px solid #111;
  box-shadow: inset 0px 0px 2px 1px rgba(17, 17, 17, 0.2);
}
.contact__submit-btn {
  width: fit-content;
  font-size: 1.825rem;
  font-weight: 600;
  padding: 0 10px 5px;
  border: 1px solid #111;
  border-radius: 5px;
  margin: 0 auto;
}

.form input[class^=contact] {
  font-size: 1.125rem;
  line-height: 1.5;
  width: 100%;
  padding: 5px 15px;
  background-color: #ddd;
  border: 1px solid #111;
  box-shadow: inset 0px 0px 2px 1px rgba(17, 17, 17, 0.2);
}

.nav-menu {
  display: none;
}
.nav-menu__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 25px;
  margin-block-start: 25px;
}
@media (min-width: 1200px) {
  .nav-menu__list {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .nav-menu__item {
    margin: 0;
  }
}
.nav-menu__link {
  display: inline-block;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
}
.nav-menu__social-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.nav-menu__social-item {
  margin: 10px auto;
}
.nav-menu__social-link {
  display: inline-block;
}
.nav-menu__social-icon {
  display: inline-block;
  width: 52px;
  height: 52px;
  color: #6cb01a;
  border-radius: 50%;
  line-height: 1;
}
.nav-menu__social-icon--github::before {
  content: "\eab0";
  font-family: "icomoon" !important;
  font-size: 3.25rem;
}
.nav-menu__social-icon--linkedin::before {
  content: "\eac9";
  font-family: "icomoon" !important;
  font-size: 3.25rem;
}
@media (min-width: 576px) {
  .nav-menu {
    display: block;
  }
}
.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 46px;
  background-color: #f2f2f2;
  border-radius: 0 5px 5px 0;
  margin-top: 30px;
  z-index: 1000;
}
@media (min-width: 576px) {
  .side-bar {
    width: 100px;
    height: 100vh;
    padding: 0 10px;
  }
}
@media (min-width: 768px) {
  .side-bar {
    width: 120px;
  }
}
@media (min-width: 992px) {
  .side-bar {
    width: 150px;
  }
}
@media (min-width: 1200px) {
  .side-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1160px;
}

.hero {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(0deg, rgb(17, 17, 17) 0%, rgb(17, 17, 17) 9%, rgba(17, 17, 17, 0.48) 35%, rgba(17, 17, 17, 0) 100%), url(../assets/images/hero_2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 230px;
  color: #f2f2f2;
}
.hero__title {
  text-align: center;
  text-wrap: balance;
  padding: 0 15px;
}
.hero__excerpt {
  margin-top: 10px;
}
.hero__scroll {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 44px);
  margin: 0 auto;
  color: #f2f2f2;
}
.hero__scroll::after {
  content: "\ea44";
  font-family: "icomoon" !important;
  display: inline-block;
  position: absolute;
  transform: rotate(-90deg);
  right: 36px;
  top: 20px;
}

.contact {
  position: relative;
  height: 100dvh;
}
.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  margin: 35px 0 15px 0;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 9px 13px 0px rgba(17, 17, 17, 0.4);
}
.contact__info {
  display: none;
}
@media (min-width: 576px) {
  .contact__info {
    display: block;
  }
}
.contact__scroll--2 {
  position: absolute;
  margin: 0 auto 0;
  bottom: 5px;
}
.contact__scroll--2::after {
  content: "\ea44";
  font-family: "icomoon" !important;
  display: inline-block;
  position: absolute;
  transform: rotate(90deg);
  left: 25px;
  bottom: 20px;
  color: inherit;
}

.project-cards {
  margin: 40px 0;
}
.project-cards__link:nth-last-of-type(-n + 3) {
  display: none;
}
@media (min-width: 576px) {
  .project-cards__link:nth-last-of-type(-n + 3) {
    display: block;
  }
}

.page {
  background-color: #f2f2f2;
  min-height: 100vh;
}
@media (min-width: 576px) {
  .page {
    padding-left: 100px;
  }
}
@media (min-width: 768px) {
  .page {
    padding-left: 120px;
  }
}
@media (min-width: 992px) {
  .page {
    padding-left: 150px;
  }
}
@media (min-width: 1200px) {
  .page {
    padding-top: 200px;
    padding-left: 0;
  }
}

.u-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}/*# sourceMappingURL=main.css.map */