@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  height: 100%;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  scroll-padding-block-end: 200px;
}

body {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #111;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  min-height: 100dvh;
}

html.no-scroll,
body.no-scroll {
  overflow: hidden;
}

ul, ol {
  list-style: none;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: inherit;
}

a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

strong, small {
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea {
  width: 100%;
}

textarea {
  resize: vertical;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

input:focus-visible,
textarea:focus-visible {
  outline-offset: 2px;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../assets/fonts/NotoSans-VariableFont_wdth,wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url(../assets/fonts/NotoSans-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../assets/fonts/icomoon.ttf") format("truetype"), url("../assets/fonts/icomoon.woff") format("woff"), url("../assets/fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.burger-container {
  position: fixed;
  z-index: 999999;
  top: 16px;
  left: 16px;
  display: flex;
  flex-direction: row;
  height: 56px;
  width: 56px;
  align-items: center;
  margin-right: auto;
  border-radius: 0 5px 5px 0;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.3);
}
.burger-container__icon {
  position: relative;
  height: 8px;
  width: 36px;
  background-color: #111;
}
.burger-container__icon::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 36px;
  background-color: #111;
  top: -13px;
}
.burger-container__icon::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 36px;
  background-color: #111;
  top: 13px;
}

.project-cards__link {
  display: block;
  width: 80%;
  height: 350px;
  padding: 10px;
  border: 2px solid #d7f4b4;
  border-radius: 8px;
  box-shadow: inset 0px 3px 6px 0px #111;
  transition: box-shadow transform 0.4s cubic-bezier(0.65, -2.2, 1, 1);
}
.project-cards__link:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: inset 0 0 0 #111, 0px 6px 12px #111;
}
.project-cards__card {
  padding: 10px;
}
.project-cards__card--1 {
  background-image: url("../assets/images/project_image_1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 70%;
}
.project-cards__card--2 {
  background-image: url("../assets/images/project_image_2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 70%;
}
.project-cards__card--3 {
  background-image: url("../assets/images/project_image_3.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 70%;
}
.project-cards__card--4 {
  background-image: url("../assets/images/project_image_4.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 70%;
}
.project-cards__card--5 {
  background-image: url("../assets/images/project_image_5.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 70%;
}
.project-cards__card--6 {
  background-image: url("../assets/images/project_image_6.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 70%;
}
.project-cards__title {
  font-size: 1.625rem;
  font-weight: 600;
  text-align: left;
  padding-inline-start: 5px;
  margin: 5px 0 0;
}
.project-cards__button {
  position: relative;
  padding-inline-start: 5px;
}
.project-cards__button::after {
  content: "\ea3c";
  font-family: "icomoon" !important;
  position: absolute;
  top: 0px;
  left: 100px;
}
.project-cards__view-btn-container {
  display: block;
  position: relative;
  width: fit-content;
  font-size: 1.625rem;
  font-weight: 600;
}
.project-cards__view-btn-container::before {
  content: "\ea3c";
  font-family: "icomoon" !important;
  position: absolute;
  right: -29px;
  top: 1px;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 0 0 8px 8px;
  margin: 35px 0 15px 0;
  padding: 2rem;
}
.contact__title {
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 2rem;
}
.contact__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
  max-width: 800px;
}
.contact__field {
  grid-column: span 2;
}
.contact__field--half {
  grid-column: span 2;
}
@media (min-width: 768px) {
  .contact__field--half {
    grid-column: span 1;
  }
}
.contact__input {
  width: 100%;
  padding: 12px 15px;
  font-size: 1.125rem;
  background-color: #ddd;
  border: 1px solid transparent;
  box-shadow: inset 0px 0px 2px 1px rgba(17, 17, 17, 0.2);
  transition: all 0.3s ease;
}
.contact__input:focus {
  outline: none;
  background-color: #f2f2f2;
  border-color: #d7f4b4;
}
.contact__input--textarea {
  resize: vertical;
  min-height: 150px;
}
.contact__input--valid {
  border-color: #28a745 !important;
}
.contact__input--invalid {
  border-color: #dc3545 !important;
}
.contact__submit-btn {
  grid-column: span 2;
  justify-self: center;
  width: fit-content;
  padding: 0.5rem 2rem;
  border: 1px solid #111;
  font-size: 1.825rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}
.contact__submit-btn:hover {
  background-color: #111;
  color: #f2f2f2;
}
@media (min-width: 1200px) {
  .contact__submit-btn {
    justify-self: auto;
  }
}
.contact__scroll {
  display: block;
  position: relative;
  width: 50%;
  padding-bottom: 30px;
  padding-top: 15px;
  color: #111;
  text-align: center;
  margin-top: auto;
}
.contact__scroll--icon::after {
  content: "\ea44";
  font-family: "icomoon" !important;
  display: inline-block;
  position: absolute;
  transform: rotate(90deg);
  translate: -48px 17px;
  font-size: 2rem;
}
.contact__scroll:visited {
  color: #111;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-block-start: 25px;
}
.nav-menu__item {
  width: 100%;
  height: 60px;
}
.nav-menu__item:nth-last-of-type(2) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 25px;
}
.nav-menu__item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
@media (min-width: 1200px) {
  .nav-menu__item {
    height: 85px;
  }
  .nav-menu__item--social {
    margin-top: 25px;
  }
}
.nav-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}
.nav-menu__link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.nav-menu__social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 5px 0;
}
.nav-menu__social-link {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.nav-menu__social-icon {
  color: #6cb01a;
}
.nav-menu__social-icon--github::before {
  content: "\eab0";
  font-family: "icomoon" !important;
  font-size: 3.25rem;
}
.nav-menu__social-icon--linkedin::before {
  content: "\eac9";
  font-family: "icomoon" !important;
  font-size: 3.25rem;
}

.drop-cap {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid black;
}
.drop-cap__text {
  display: inline-block;
  color: #6cb01a;
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
}
.drop-cap__text:visited {
  color: #6cb01a;
}
@media (min-width: 576px) {
  .drop-cap {
    display: block;
  }
}
@media (min-width: 1200px) {
  .drop-cap {
    margin: 0;
  }
}

.close-sidr {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  height: 58px;
  font-size: 2rem;
  cursor: pointer;
}
.close-sidr::before {
  content: "\ea40";
  font-family: "icomoon" !important;
  position: absolute;
  left: 1.5rem;
  color: #6cb01a;
}
@media (min-width: 1200px) {
  .close-sidr {
    display: none;
  }
}

.scs-scheme {
  background-color: #f2f2f2;
}
.scs-scheme__details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.scs-scheme__title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .scs-scheme__title {
    font-size: 2.25rem;
  }
}
.scs-scheme__excerpt {
  font-size: 0.825rem;
  font-weight: 400;
  line-height: 1.3;
  text-wrap-style: pretty;
}
@media (min-width: 1200px) {
  .scs-scheme__excerpt {
    font-size: 1.125rem;
    line-height: 1.6;
  }
}
.scs-scheme__sub-title {
  margin-bottom: 5px;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.scs-scheme__list-item {
  padding-left: 5px;
  font-size: 0.825rem;
  list-style-type: square;
}
@media (min-width: 1200px) {
  .scs-scheme__list-item {
    font-size: 1rem;
  }
}
@media (min-width: 576px) {
  .scs-scheme__list-item {
    list-style-type: none;
  }
}
.scs-scheme__hr {
  border: none;
  margin: 10px 0;
  height: 2px;
  background: linear-gradient(to right, transparent, #333, transparent);
}

.side-bar {
  position: static;
  width: 100%;
  min-height: 100dvh;
  background-color: #f2f2f2;
}

.sidr {
  width: 100%;
}
@media (min-width: 576px) {
  .sidr {
    width: 310px;
    border-right: 1px solid black;
  }
}
@media (min-width: 1200px) {
  .sidr {
    width: 250px;
  }
}
.sidr.sidr-left {
  left: -100%;
}
@media (min-width: 1200px) {
  .sidr.sidr-left {
    left: 0;
  }
}
.sidr.sidr-right {
  right: -100%;
}
@media (min-width: 1200px) {
  .sidr.sidr-right {
    right: 0;
  }
}

@media (min-width: 1200px) {
  #mobile-menu {
    display: none;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1160px;
}

.hero {
  position: relative;
  min-height: 100dvh;
  background-image: linear-gradient(0deg, rgb(17, 17, 17) 0%, rgb(17, 17, 17) 9%, rgba(17, 17, 17, 0.48) 35%, rgba(17, 17, 17, 0) 100%), url(../assets/images/hero_2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 30px;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
}
.hero__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  color: #f2f2f2;
}
.hero__title {
  position: relative;
  min-height: 62px;
  text-align: center;
  text-wrap: balance;
  font-size: 2.5rem;
}
@media (min-width: 576px) {
  .hero__title {
    font-size: 3.25rem;
  }
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 4rem;
    min-height: 160px;
  }
}
@media (min-width: 992px) {
  .hero__title {
    font-size: 4.825rem;
    min-height: 190px;
  }
}
@media (min-width: 1200px) {
  .hero__title {
    font-size: 4rem;
    min-height: 80px;
  }
}
.hero__name {
  position: relative;
  min-height: 62px;
  font-size: 1.825rem;
}
@media (min-width: 360px) {
  .hero__name {
    font-size: 2.4rem;
  }
}
@media (min-width: 576px) {
  .hero__name {
    font-size: 3.5rem;
  }
}
@media (min-width: 768px) {
  .hero__name {
    font-size: 4.2rem;
  }
}
@media (min-width: 992px) {
  .hero__name {
    font-size: 5rem;
  }
}
@media (min-width: 1200px) {
  .hero__name {
    font-size: 4.825rem;
  }
}
.hero__excerpt {
  min-height: 32px;
  margin-top: 10px;
  font-size: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}
.hero__excerpt--small {
  position: relative;
}
@media (min-width: 576px) {
  .hero__excerpt {
    font-size: 2.825rem;
  }
}
@media (min-width: 992px) {
  .hero__excerpt {
    font-size: 4.5rem;
  }
}
@media (min-width: 1200px) {
  .hero__excerpt {
    font-size: 5rem;
  }
}
.hero__scroll {
  display: block;
  padding-bottom: 50px;
  color: #f2f2f2;
  text-align: center;
  margin-top: auto;
}
.hero__scroll--icon {
  position: absolute;
}
.hero__scroll--icon::after {
  content: "\ea44";
  font-family: "icomoon" !important;
  display: inline-block;
  position: absolute;
  font-size: 2rem;
  transform: rotate(-90deg);
  right: 27px;
  top: 20px;
}
.hero__scroll:visited {
  color: #f2f2f2;
}

.tw-bar::after {
  content: " ";
  position: absolute;
  right: -10px;
  font-size: inherit;
  border-right: 3px solid #f2f2f2;
  animation: blink 1.3s step-end infinite;
  top: 6px;
  height: 1.1em;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.project-cards {
  margin: 40px 0;
}
.project-cards__container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2rem;
  padding: 20px 0;
  border: 1px solid #d7f4b4;
  border-radius: 8px;
  margin: 0 auto;
  box-shadow: 0px 9px 13px 0px rgba(17, 17, 17, 0.4);
}
@media (min-width: 576px) {
  .project-cards__container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 2rem;
  }
}
@media (min-width: 992px) {
  .project-cards__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .project-cards__container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
  }
}
.project-cards__link:nth-last-of-type(-n + 3) {
  display: none;
}
@media (min-width: 992px) {
  .project-cards__link:nth-last-of-type(-n + 3):nth-last-of-type(-n + 1) {
    display: block;
  }
}
@media (min-width: 1200px) {
  .project-cards__link:nth-last-of-type(-n + 3) {
    display: block;
  }
}

.page {
  background-color: #f2f2f2;
  scroll-behavior: smooth;
}
@media (min-width: 1200px) {
  .page {
    padding-left: 250px;
  }
}

.coding__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px;
}

pre {
  background: #1e1e1e;
  color: #dcdcdc;
  padding: 16px;
  margin: 20px 0;
  border-radius: 8px;
  overflow-x: auto;
  height: 450px;
  overflow-y: scroll;
}

code {
  font-family: monospace;
}

.scs-scheme {
  padding-left: 50px;
  padding-top: 25px;
  padding-right: 35px;
  padding-bottom: 25px;
}

.u-visually-hidden {
  position: absolute;
  width: 1px;
  min-height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.content-adjust {
  padding-left: 46px;
}
@media (min-width: 576px) {
  .content-adjust {
    padding-left: 115px;
  }
}
@media (min-width: 768px) {
  .content-adjust {
    padding-left: 120px;
  }
}
@media (min-width: 992px) {
  .content-adjust {
    padding-left: 150px;
  }
}
@media (min-width: 1200px) {
  .content-adjust {
    padding-left: 250px;
  }
}/*# sourceMappingURL=main.css.map */