.sidr {
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999998;
    width: 260px;
    /* width: 100%; */
    overflow-x: hidden;
    overflow-y: auto
}
.sidr.sidr-right {
    left: auto;
    right: -260px;
    /* right: -100%; */
}
.sidr.sidr-left {
    right: auto;
    left: -260px;
    /* left: -100%; */
}
