@use "functions" as fn;
@use "tokens" as v;
@use "sass:map";

@mixin respond($breakpoint) {
  @media (min-width: map.get(v.$breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin burger-graphic {
  position: relative;
  height: 8px;
  width: calc(fn.sidebar-width(1) - 10px);
  background-color: fn.color(font-dark);
  &::before {
    content: "";
    position: absolute;
    height: 8px;
    width: calc(fn.sidebar-width(1) - 10px);
    background-color: fn.color(font-dark);
    top: -13px;
  }
  &::after {
    content: "";
    position: absolute;
    height: 8px;
    width: calc(fn.sidebar-width(1) - 10px);
    background-color: fn.color(font-dark);
    top: 13px;
  }
  @content;
}

@mixin icon($name, $pos: before) {
  &::#{$pos} {
    content: map.get(v.$icons, $name);
    font-family: 'icomoon' !important;
    @content;
  }
}

@mixin project-card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @content;
}

