@use "../abstracts" as ab;

// ! keep as form layout styling with that one exception of the pseudo-element

.contact {
  position: relative;
  height: 100dvh;
  margin-bottom: 10px;

  // Controls the form flex layout
  // align items prevents stretching. hmmm.
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    margin: 35px 0 15px 0;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 9px 13px 0px rgba(ab.color(font-dark),0.4);
  }

  &__info {
    display: none;
    @include ab.respond(s) {
      display: block;
    }
  }

  &__scroll--2 {
    position: absolute;
    margin: 0 auto 0;
    bottom: 5px;
    @include ab.icon(circle-left, after) {
      display: inline-block;
      position: absolute;
      transform: rotate(90deg);
      left: 25px;
      bottom: 20px;
      color: inherit;
    }
  }
}