@use "../abstracts" as ab;

// ! keep as form layout styling with that one exception of the pseudo-element

.contact {
  position: relative;
  padding-bottom: 10px;

  // Controls the form flex layout
  // align items prevents stretching. hmmm.
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px 0 15px 0;
    border: 2px solid ab.color(font-grey);
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 9px 13px 0px rgba(ab.color(font-dark),0.4);
    @include ab.respond(xl) {
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 20px;
    }
  }

  &__info {
    display: none;
    text-align: center;
    @include ab.respond(s) {
      display: block;
    }
    @include ab.respond(xl) {      
      align-self: flex-start;
      flex: 0 0 25%;
    }
  }

  &__excerpt {
    @include ab.respond(xl) {
      text-align: left;
    }
  }

  &__form {
    flex: 0 0 75%;
  }

  &__scroll {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 50px;
    color: ab.color(font-dark);
    text-align: center;
    margin-top: auto;
    &--icon {
      @include ab.icon(circle-left, after) {
        display: inline-block;
        position: absolute;
        transform: rotate(90deg);
        left: 45%;
        bottom: 4px;
        font-size: 2rem;
      }
    }
    &:visited {
      color: ab.color(font-dark);
    }
  }
}