@use "../abstracts" as ab;

.hero {
  position: relative;
  min-height: 100dvh;
  background-image: linear-gradient(0deg, rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 1) 9%, rgba(17, 17, 17, 0.48) 35%, rgba(17, 17, 17, 0) 100%), url(../assets/images/hero_2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 30px;

  &__wrapper {
    display: flex;
    justify-content: center;
    height: 100dvh;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: ab.color(font-light);
  }

  &__title {
    position: relative;
    text-align: center;
    text-wrap: balance;
    // line-height: 1.2;
    margin-bottom: 4rem;

    height: 80px;

    & strong {
      display: block;
      font-size: 1.825rem;
      @media (min-width: 360px) {
        font-size: 2.4rem;
      }
      @include ab.respond(s) {
        font-size: 3.5rem;
      }
      @include ab.respond(m) {
        font-size: 4.2rem;
      }
      @include ab.respond(l) {
        font-size: 5rem;
      }
      @include ab.respond(xl) {
        font-size: 4.825rem;
      }
    }
    @include ab.respond(s) {
      font-size: 3.25rem;
      height: 130px;
    }
    @include ab.respond(m) {
      font-size: 4rem;
      height: 160px;
    }
    @include ab.respond(l) {
      font-size: 4.825rem;
      height: 190px;
    }
    @include ab.respond(xl) {
      font-size: 4rem;
      height: 80px;
    }
  }
  &__excerpt {
    margin-top: 10px;
    font-size: 2rem;
    margin-bottom: 4rem;
    text-align: center;
    &--small {
      position: relative;
    }
    @include ab.respond(s) {
      font-size: 2.825rem;
    }
    @include ab.respond(l) {
      font-size: 4.5rem;
    }
    @include ab.respond(xl) {
      font-size: 5rem;
    }
  }

  &__scroll {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 44px);
    margin: 0 auto;
    color: ab.color(font-light);
    @include ab.icon(circle-left, after) {
      display: inline-block;
      position: absolute;
      transform: rotate(-90deg);
      right: 36px;
      top: 20px;
    }
  }
}

@mixin type-bar {
  &::after {
    content: "";
    position: absolute;
    right: -10px;
    height: 21px;
    top: 10px;
    border-right: 5px solid ab.color(font-light);
    animation: blink 1.3s step-end infinite;
    @content;
  }
}

.tw-bar {
  @include type-bar{
    @include ab.respond(s) {
      height: 36px;
    }
    @include ab.respond(l) {
      height: 69px;
    }
    @include ab.respond(xl) {
      height: 70px;
    }
  };
}

@keyframes blink {
  50% { opacity: 0; }
}