@use "../abstracts" as ab;

// ! this has some design and content

.hero {
  position: relative;
  min-height: 100dvh;
  background-image: linear-gradient(0deg, rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 1) 9%, rgba(17, 17, 17, 0.48) 35%, rgba(17, 17, 17, 0) 100%), url(../assets/images/hero_2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 230px;
    @media (orientation: landscape) {
      padding-top: 130px;
    }
    color: ab.color(font-light);
  }

  &__title {
    text-align: center;
    text-wrap: balance;
    @include ab.respond(l) {
      font-size: 2.825rem;
    }
    @include ab.respond(xl) {
      font-size: 4rem;
    }
  }
  &__excerpt {
    margin-top: 10px;
    @include ab.respond(l) {
      font-size: 1.825rem;
    }
    @include ab.respond(xl) {
      font-size: 2.5rem;
    }
  }

  &__scroll {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 44px);
    margin: 0 auto;
    color: ab.color(font-light);
    @include ab.icon(circle-left, after) {
      display: inline-block;
      position: absolute;
      transform: rotate(-90deg);
      right: 36px;
      top: 20px;
    }
  }
}