@use "../abstracts" as ab;

// background-color, left, top, all need to be reset on breakpoint (S)+

.side-bar {
  position: fixed; 
  left: -2px;  
  width: ab.sidebar-width(1);  
  height: 100dvh; 

  
  z-index: 1000;
  // background-color: ab.color(font-light);
  
  @include ab.respond(s) {
    width: ab.sidebar-width(2);
    min-height: 100vh;
    overflow-y: auto;
    overscroll-behavior: contain;
    top: 0;
    left: 0;
    border-right: 1px solid black;
  }

  @include ab.respond(m) {
    width: ab.sidebar-width(3);
  }

  @include ab.respond(l) {
    width: ab.sidebar-width(4);
  }

  @include ab.respond(xl) {
    width: ab.sidebar-width(5);
  }
}