@use "../abstracts" as ab;

.burger-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: calc(ab.sidebar-width(1) - 4px);
  width: calc(ab.sidebar-width(1) - 4px);
  margin-right: auto;

  background-color: ab.color(font-light);
  border-radius: 0 5px 5px 0;

  &__icon {
    // border: 1px solid ab.color(complimentary-light);
    @include ab.burger-graphic;
  }

  @include ab.respond(s) {
    display: none;
  }
}