@use "../abstracts" as ab;

.drop-cap {
  display: none;
  width: fit-content;
  margin: 0 auto;
  
  &__text {
    display: inline-block;
    color: ab.color(primary-dark);
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
  }

  @include ab.respond(s) {
    display: block;
  }
  @include ab.respond(m) {
  }
  @include ab.respond(l) {
  }
  @include ab.respond(xl) {
    margin: 0;
  }
}