@use "../abstracts" as ab;

.nav-menu {
  // !If you change how the nav-menu actually behaves, do it here, the layout only controls it's positioning in the wider page.
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    // gap: 25px; // larger view
    margin-block-start: 25px;
  }

  &__item {
    width: 100%;
    height: 60px;
    &:nth-last-of-type(2) {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      margin-top: 25px;
    }
    &:hover {
      background-color: rgba($color: #000000, $alpha: .05);
    }
    @include ab.respond(xl) {
      height: 85px;
      &--social {
        margin-top: 25px;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2rem; // set for max-width
    font-weight: 600;
    line-height: 1;
    text-align: center;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }

  // ! Control social icons here
  &__social-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    // gap: 80px; // larger width
    gap: 20px;
    // padding: 15px 30px; // larger width
    padding: 5px 0;
    // border: 1px solid ab.color(primary-dark); // larger width?
    // border-radius: 8px; // larger width?
  }

  &__social-link {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  &__social-icon {
    color: ab.color(primary-dark);
    &--github {
      @include ab.icon(github, before) {
        font-size: 3.25rem;
        // font-size: 6.25rem; // larger width?
      }
    }
    &--linkedin {
      @include ab.icon(linkedin, before) {
        font-size: 3.25rem;
        // font-size: 6.25rem; //larger width?
      }
    }
  }
}

.drop-cap {
  // display: none; // switch off for sidr
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid black;
  
  &__text {
    display: inline-block;
    color: ab.color(primary-dark);
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    &:visited {
      color: ab.color(primary-dark);
    }
  }


  @include ab.respond(s) {
    display: block;
  }
  @include ab.respond(m) {
  }
  @include ab.respond(l) {
  }
  @include ab.respond(xl) {
    margin: 0;
  }
}

.close-sidr {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  height: 58px;
  font-size: 2rem;
  cursor: pointer;
  @include ab.icon(arrow-left) {
    position: absolute;
    left: 1.5rem;
    color: ab.color(primary-dark);
  };
  // ! ADD MEDIA QUERIES
  @include ab.respond(xl) {
    display: none;
  }
}