@use "../abstracts" as ab;

.nav-menu {
  display: none;

  @include ab.respond(s) {
    display: block;
  }

  // !If you change how the nav-menu actually behaves, do it here, the layout only controls it's positioning in the wider page.
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 25px;
    margin-block-start: 25px;
  }

  &__item {
    // margin: 0 auto;
    width: 100%;
    padding: 0 10px;
    &:nth-last-of-type(2) {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
    @include ab.respond(xl) {
      margin: 0;
    }
  }

  &__link {
    display: inline-block;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    width: 100%;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }

  // ! Control social icons here
  &__social-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;

    @include ab.respond(xl) {
      flex-direction: row;
    }
  }

  &__social-item {
    margin: 10px auto;
  }

  &__social-link {
    display: inline-block;
  }

  &__social-icon {
    display: inline-block;
    width: 52px;
    height: 52px;
    color: ab.color(primary-dark);
    border-radius: 50%;
    line-height: 1;
    &--github {
      @include ab.icon(github, before) {
        font-size: 3.25rem;
      }
    }
    &--linkedin {
      @include ab.icon(linkedin, before) {
        font-size: 3.25rem;
      }
    }
  }
}