@use "../abstracts" as ab;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;

  // sets an auto scroll behavior
  // needs to be on the element that's actually scrolling
  scroll-snap-type: y proximity;
}

body {
  font-family: ab.$font-primary;
  font-weight: ab.$weight-regular;
  color: ab.color(font-dark);
  scroll-behavior: smooth;
}