@use "../abstracts" as ab;

.code-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: start;
  @include ab.respond(xl) {
    padding-left: ab.sidebar-width(5);
  }
}

.code-example {
  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  &__header {
    padding: 15px 20px;
    margin-top: 50px;
  }
  &__title--main {
    font-size: 2rem;
    font-weight: 300;
    text-align: right;
    @include ab.respond(s) {
      text-align: center;
    }
    @include ab.respond(l) {
      font-size: 3.5rem;
    }
  }
  &__text--header {
    text-align: center;
    @include ab.respond(l) {
      font-size: 2rem;
    }
  }
}