@use "../abstracts" as ab;
@use "sass:list";

.page {
  background-color: ab.color(font-light);
  margin-left: ab.sidebar-width(1);
  height: 100vh;

  @include ab.respond(s) {
    margin-left: ab.sidebar-width(2);
  }

  @include ab.respond(m) {
    margin-left: ab.sidebar-width(3);
  }

  @include ab.respond(l) {
    margin-left: ab.sidebar-width(4);
  }

  @include ab.respond(xl) {
    margin-left: ab.sidebar-width(5);
  }
}