@use "../abstracts" as ab;
@use "sass:list";

// ! page specific styles

.page {
  background-color: ab.color(font-light);
  scroll-behavior: smooth;

  @include ab.respond(xl) {
    // ! don't need this unless you keep the sidebar on the side !
    padding-left: ab.sidebar-width(5);
  }
}