@use "../abstracts" as ab;
@use "sass:list";

.page {
  background-color: ab.color(font-light);
  // padding-left: ab.sidebar-width(1);
  // width: calc(100% - #{ab.sidebar-width(1)});
  min-height: 100vh;

  @include ab.respond(s) {
    padding-left: ab.sidebar-width(2);
  }

  @include ab.respond(m) {
    padding-left: ab.sidebar-width(3);
  }

  @include ab.respond(l) {
    padding-left: ab.sidebar-width(4);
  }

  @include ab.respond(xl) {
    // ! don't need this unless you keep the sidebar on the side !
    padding-top: ab.sidebar-width(5);
    padding-left: 0;
  }
}